<div class="card">
  <div class="card-body">
    <h5 class="card-title">Ordenando array's</h5>
    <p class="card-text">Informe valores separados por vírgula para ordenação.</p>

    <textarea class="form-control mb-3" rows="10" [formControl]="textareaControl"></textarea>

    <p class="text-danger">
      <small *ngIf="textareaControl.dirty && textareaControl.touched && textareaControl.invalid">
        Dados informados estão errados!
      </small>
    </p>

    <button [disabled]="textareaControl.invalid" class="btn btn-primary" (click)="sort()">
      Ordenar
    </button>
  </div>
</div>
